@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.dataContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.dataContainer svg {
	display: block;
	margin: auto;
}

.dataContainer h1 {
	font-family: 'Montserrat';
	margin-bottom: 1em;
}
